:root {
	--main-color: #54372a;
	--second-color: #df582e;
	--text-color: #060413;
	--container-color: #f8e4be;
	--bg-color: #f9f6f2;
	--text-alter-color: #94908e;

	--poppins-font: 'Poppins', sans-serif;
	--playfair-font: 'Playfair Display', serif;
}

body {
	background-color: var(--bg-color);
}

section {
	padding: 4rem 0 0;
}

.container {
	max-width: 1024px;
	width: 100%;
	margin: auto;
}

img {
	width: 100%;
	height: auto;
}

header {
	width: 100%;
	top: 1rem;
	left: 0;
	position: fixed;
	z-index: 99999;
}

nav {
	position: relative;
	background-color: var(--text-color);
	max-width: 1024px;
	height: 50px;
	margin: auto;
	padding-inline: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	border-radius: 30px;
	box-shadow: 0px 9px 19px -10px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 9px 19px -10px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 9px 19px -10px rgba(0, 0, 0, 0.75);
}
nav .logo {
	font-family: var(--playfair-font);
	font-size: 1.4rem;
	font-weight: 600;
	cursor: pointer;
}
nav .logo a {
	color: var(--container-color);
	text-decoration: none;
}
nav .nav-menu {
	display: flex;
	gap: 1.1rem;
}
.nav-menu li:hover a {
	color: var(--bg-color);
}
.nav-menu li a {
	text-decoration: none;
	color: var(--text-alter-color);
	font-family: var(--poppins-font);
	font-size: 0.88rem;
	text-transform: capitalize;
	transition: all 300ms;
}
nav .feature {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.7rem;
	color: var(--bg-color);
}
.feature .search-input {
	position: absolute;
	width: 30vw;
	height: 0px;
	top: 110%;
	right: 1rem;
	overflow: hidden;
	padding-left: 1.5rem;
	border-radius: 20px;
	background-color: var(--text-color);
	transition: all 200ms;
}
.feature .search-input.search-active {
	height: 40px;
}
.feature .search-input .feather {
	width: 14px;
	height: 14px;
	display: none;
}
.feature .search-input input {
	padding-inline: 1rem;
	opacity: 0;
	font-size: 14px;
	display: none;
	color: var(--bg-color);
	border: none;
	outline: none;
	background-color: transparent;
}
.feature .search-input input::placeholder {
	color: var(--text-alter-color);
	font-size: 14px;
	opacity: 0.8;
}
.feature .search-input input:focus {
	border: none;
	outline: none;
}
.feature .search-input.search-active .feather {
	position: absolute;
	top: 50%;
	left: 1rem;
	transform: translateY(-50%);
	display: block;
}
.feature .search-input.search-active input {
	display: block;
	opacity: 1;
	width: 100%;
	height: 100%;
}

.feature .shop {
	position: relative;
}
.feature .shop .quantity {
	font-family: var(--poppins-font);
	position: absolute;
	top: -5px;
	right: -8px;
	display: inline-block;
	width: 15px;
	height: 15px;
	text-align: center;
	line-height: 16px;
	background-color: red;
	border-radius: 50%;
	font-size: 10px;
}

.feature .shop-card {
	position: absolute;
	top: 110%;
	right: 0;
	width: 0vw;
	height: 89vh;
	overflow: hidden;
	border-radius: 10px;
	background-color: var(--text-color);
	transition: all 300ms;
}
.feature .shop-card.shop-active {
	width: 380px;
	padding: 0 1rem 1rem;
}
.shop-card .empty {
	text-align: center;
	margin-top: 1rem;
	font-family: var(--poppins-font);
	font-weight: 600;
	font-size: 14px;
}

/* .shop-card .coffee-user-container {
	width: 100%;
	max-height: 242px;
}
.shop-card .coffee-user-container.coffee-user-height {
	overflow-y: scroll;
} */

.shop-card .coffee-user {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 1rem;
	padding-block: 0.6rem;
	border-bottom: 0.4mm dotted var(--container-color);
}
.shop-card .coffee-user img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.shop-card .coffee-user .coffee-detail {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-family: var(--poppins-font);
}
.shop-card .coffee-user .coffee-detail p {
	font-weight: 800;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: var(--playfair-font);
	color: var(--container-color);
}
.shop-card .coffee-user .coffee-detail .counts {
	font-size: 15px;
	display: flex;
	align-items: center;
	gap: 0.3rem;
}
.shop-card .coffee-user .coffee-detail .counts span {
	font-size: 11px;
}
.coffee-user .coffee-detail .counts button {
	background-color: var(--container-color);
	border: none;
	font-size: 10px;
	font-weight: bold;
	padding: 1px 4px;
	cursor: pointer;
	margin-inline: 3px;
	margin-top: -3px;
}
.shop-card .price-coffee {
	text-align: center;
	padding: 1rem;
	font-family: var(--poppins-font);
	border-bottom: 0.4mm dotted var(--container-color);
}
.shop-card .price-coffee p {
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 500;
}
.shop-card .price-coffee p span {
	font-size: 14px;
	font-weight: 500;
}

/* custemer */
.shop-card .customer {
	width: 100%;
}
.shop-card .customer h2 {
	font-family: var(--poppins-font);
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	padding: 0.8rem;
}
.shop-card .customer form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}
.shop-card .customer form .customer-input-grub {
	width: 100%;
	height: 30px;
	border-radius: 4px;
	position: relative;
	background-color: var(--bg-color);
}
.customer form .customer-input-grub .feather {
	position: absolute;
	top: 50%;
	left: 0.5rem;
	transform: translateY(-50%);
	width: 14px;
	height: 14px;
	color: var(--main-color);
}
.customer form .customer-input-grub input {
	background-color: transparent;
	border: none;
	outline: none;
	padding-left: 2rem;
	width: 100%;
	height: 100%;
	font-size: 14px;
	color: var(--main-color);
}
.customer form .customer-input-grub input::placeholder {
	color: var(--main-color);
	opacity: 0.7;
}
.customer form .customer-btn {
	margin-top: 0.5rem;
	background-color: var(--main-color);
	border: none;
	border-radius: 4px;
	color: var(--bg-color);
	height: 30px;
	padding-inline: 0.8rem;
	cursor: pointer;
}

.feature :where(.search, .shop, .hamburger) {
	cursor: pointer;
}

.feature .hamburger {
	display: none;
}
/* !feather icon */
.feather {
	width: 16px;
	height: 16px;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

/* HERO */
.hero {
	display: flex;
	padding-top: 2.5rem;
}
.hero .hero-content {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.hero-content h1 {
	font-family: var(--playfair-font);
	font-size: 3.5rem;
	font-weight: 800;
	color: var(--main-color);
	line-height: 4rem;
}
.hero-content p {
	font-family: var(--poppins-font);
	font-size: 0.88rem;
	padding-right: 35%;
	line-height: 20px;
	margin-block: 1rem;
}
.hero-content .hero-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.4rem;
	width: 140px;
	height: 45px;
	text-decoration: none;
	background-color: var(--text-color);
	color: var(--bg-color);
	font-family: var(--poppins-font);
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 500;
	border-radius: 60px;
	transition: all 100ms;
}
.hero-btn:active {
	gap: 0.35rem;
	transform: scale(0.9);
}
.hero-btn .arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--second-color);
	width: 25px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	transition: all 300ms;
}
.hero-btn:hover .arrow {
	transform: rotate(135deg);
}

.hero .hero-images {
	width: 50%;
}

.hero .hero-images {
	display: grid;
	place-content: center;
}

/* ABOUT */
#about .container,
#product .container,
#contact .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container .about-title,
.container .product-title,
.container .contact-title {
	max-width: 500px;
	text-align: center;
	margin-top: 2.5rem;
}
.container .about-title h2,
.container .product-title h2,
.container .contact-title h2 {
	color: var(--text-color);
	font-family: var(--playfair-font);
	font-weight: 800;
	font-size: 1.8rem;
	line-height: 2.3rem;
	margin-bottom: 1rem;
	text-transform: capitalize;
	text-align: center;
}
.container .about-title p,
.container .product-title p,
.container .contact-title p {
	font-size: 14px;
	line-height: 19px;
	font-family: var(--poppins-font);
	margin-bottom: 2rem;
}

.about {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}
.about .about-img {
	border-radius: 16px;
	overflow: hidden;
	width: 50%;
	box-shadow: 0px 9px 19px -10px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 9px 19px -10px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 9px 19px -10px rgba(0, 0, 0, 0.75);
}
.about .about-img:hover img {
	transform: scale(1.2);
}
.about .about-img img {
	transform: scale(1.1);
	transition: all 300ms;
}
.about .about-content {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: start;
}
.about-content h4 {
	font-family: var(--poppins-font);
	font-size: 2.5rem;
	line-height: 3rem;
	font-weight: 600;
	color: var(--main-color);
	margin-bottom: 2.5rem;
	position: relative;
}
.about-content h4::after {
	content: '';
	position: absolute;
	top: 115%;
	left: 0;
	width: 80px;
	height: 4px;
	border-radius: 2px;
	background-color: var(--second-color);
}
.about-content p {
	font-family: var(--poppins-font);
	font-size: 14px;
	line-height: 19px;
}

/* PRODUCT */
.container .product-item {
	width: 100%;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
	column-gap: 3rem;
	row-gap: 1.5rem;
	border-radius: 16px;
	padding: 1.5rem 2rem;
	background-color: var(--container-color);
}
.product-item .card-item {
	min-height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	border-radius: 12px;
	background-color: var(--bg-color);
	overflow: hidden;
	box-shadow: 0px 9px 19px -10px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 9px 19px -10px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 9px 19px -10px rgba(0, 0, 0, 0.75);
}
.card-item .love-parent {
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	gap: 0.1rem;
	cursor: pointer;
}
.card-item .item-love.love-active svg {
	fill: red;
	color: red;
}
.card-item .item-love svg {
	width: 18px;
	height: 18px;
}
.love-parent .total-love {
	font-family: var(--poppins-font);
	display: block;
	font-size: 11px;
	margin-left: 1px;
}

.card-item .item-images {
	display: grid;
	place-content: center;
	width: 170px;
	height: 170px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	margin-bottom: 1.5rem;
	box-sizing: content-box;
	background-color: var(--second-color);
}
.card-item .item-images img {
	width: 154px;
	height: 154px;
	border-radius: 50%;
	border: 4px solid var(--bg-color);
	box-sizing: content-box;
	object-fit: cover;
	user-select: none;
}

.card-item .item-information {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.6rem;
	margin-bottom: 1rem;
}
.item-information p {
	width: fit-content;
	font-size: 9px;
	font-family: var(--poppins-font);
	border: 1px solid var(--text-color);
	padding: 3px 6px;
	border-radius: 16px;
}
.item-information h4 {
	font-family: var(--playfair-font);
	font-size: 1.2rem;
	font-weight: 700;
	color: var(--main-color);
}
.card-item .item-price {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.item-price p {
	font-size: 16px;
	font-family: var(--playfair-font);
	color: var(--main-color);
}
.item-price .item-shop {
	display: grid;
	place-content: center;
	width: 30px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	background-color: var(--second-color);
	cursor: pointer;
}
.item-shop svg {
	color: white;
}

/* CONTACT */
.container .contact-content {
	width: 100%;
	display: flex;
	gap: 1rem;
	background-color: var(--text-alter-color);
	border-radius: 6px;
	padding: 1rem;
	margin-bottom: 6.5rem;
}
.contact-content .map {
	width: 50%;
	aspect-ratio: 7/5;
	object-fit: cover;
	border-radius: 4px;
	box-shadow: 0px 9px 19px -10px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 9px 19px -10px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 9px 19px -10px rgba(0, 0, 0, 0.75);
}

.contact-content form {
	width: 50%;
	aspect-ratio: 7/5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.contact-content form .input-grub {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 20px;
	border-radius: 4px;
	background-color: var(--bg-color);
	border: 1px solid var(--text-alter-color);
	box-shadow: 0px 9px 19px -10px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 9px 19px -10px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 9px 19px -10px rgba(0, 0, 0, 0.75);
}
form .input-grub .feather {
	width: 20px;
	height: 20px;
	color: var(--main-color);
}
form .input-grub input {
	width: 100%;
	height: 42px;
	padding-left: 20px;
	color: var(--main-color);
	background-color: transparent;
	border: none;
	outline: none;
}
.input-grub input::placeholder {
	color: var(--main-color);
	opacity: 0.9;
}

form .form-btn {
	width: 8rem;
	height: 42px;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	padding: 0;
	color: var(--main-color);
	background-color: var(--bg-color);
	box-shadow: 0px 9px 19px -10px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 9px 19px -10px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 9px 19px -10px rgba(0, 0, 0, 0.75);
	transition: all 100ms;
}
form .form-btn:active {
	transform: scale(0.95);
}
